body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
main {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: rgb(240, 240, 240);
}
.flexible-section {
    display: flex;
    padding-left: 5%;
    margin-bottom: 5%;
}
/* SECTION-A*/
h1 {
    font-size: 72px;
    font-weight: 400;
}
h2 {
    font-size: 36px;
    font-weight: 400;
}
span {
    color: orangered;
    font-weight: 700;
}
p {
    font-size: 18px;
    font-weight: 300;
}
.equal-portion {
    width: 50%
}
#top-margin {
    margin-top: 80px;
}
.button {
    text-decoration: none;
    color: white;
    padding: 20px 50px;
    background-image: linear-gradient(to right, orange, orangered);
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
}
/*SECTION-B*/
.section-b img {
    width: 50%;
    height: auto;
    padding-left: 25%;
    margin-top: 27px;
    
}
.section-b {
    height: 600px;
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-position: center;  
}
.section-b p {
    padding-right: 25%;
    line-height: 30px;
    text-align: justify;
}
