
/*GENARAL EDIT*/
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1 {
    font-size: 72px;
    font-weight: 400;
}
h2 {
    display: inline;
    font-size: 36px;
    font-weight: 400;
    padding-bottom: 5px;
    border-bottom: 1px solid orangered;
}
h3 {
    font-size: 36px;
    font-weight: 900;
}
p {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}
main {
    width: 80%;
    height: 100%;
    margin: 5% auto;
    background-color: rgba(240, 240, 240, .25);
}
.flexible-section {
    display: flex;
    padding-left: 5%;
    margin-bottom: 5%;
}
.button {
    text-decoration: none;
    color: white;
    padding: 20px 50px;
    background-image: linear-gradient(to right, orange, orangered);
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .35); 
}
.button:hover{
    color:  black;
    background-image: linear-gradient(to right, orangered, orange); 
}
/* SECTION-A*/
.section-a {
    border: 1px solid orangered;
    border-radius: 25px;
}
span {
    color: orangered;
    font-weight: 700;
}
.equal-portion {
    width: 50%
}
.equal-portion img {
    width: 100%
}
#top-margin {
    margin-top: 80px;
}

/*SECTION-B*/
.section-b img {
    width: 50%;
    height: auto;
    padding-left: 25%;
    margin-top: 30px;
    
}
.section-b {
    height: 600px;
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
    border-radius: 25px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, .15);
}
.section-b p {
    padding-right: 25%;
    text-align: justify;
}

/*SECTION-C*/
.recipie {
    text-align: center;
    padding: 0px 50px;
    margin: 5%;
}
.one-third-portion {
    width: 30%;
    background-color: white;
    margin-right: 5%;
    border: 20px solid white; 
    border-radius: 25px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, .15);
   
}
.one-third-portion img {
    width: 100%;
}

/*SECTION-D*/
.section-d {
    width:85%;
    margin-right: 5%;
    margin-left: 5%;
    background-color: white;
    border-radius: 25px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, .15);
}
.one-third-portion-combine {
    width: 30%;
    margin-right: 5%;
    margin-left: 7%;   
}
.section-d h1 {
    font-weight: 900;
    font-size: 46px;
}
.section-d p {
    margin-top: -40px;
}

/*SECTION-E*/
.section-e {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: black;
    text-align: center;
    color: white;
}